In [23]:
import pandas as pd

In [24]:
data2012 = pd.read_csv("~/AdministracaoPublica/CadUnico/BasesPB/base_amostra_familia_201212_20190131.csv", sep=';', low_memory=False)
data2013 = pd.read_csv("~/AdministracaoPublica/CadUnico/BasesPB/base_amostra_familia_201312_20190131.csv", sep=';', low_memory=False)
data2014 = pd.read_csv("~/AdministracaoPublica/CadUnico/BasesPB/base_amostra_familia_201412_20190131.csv", sep=';', low_memory=False)
data2015 = pd.read_csv("~/AdministracaoPublica/CadUnico/BasesPB/base_amostra_familia_201512_20190131.csv", sep=';', low_memory=False)
data2016 = pd.read_csv("~/AdministracaoPublica/CadUnico/BasesPB/base_amostra_familia_201612_20190131.csv", sep=';', low_memory=False)
data2017 = pd.read_csv("~/AdministracaoPublica/CadUnico/BasesPB/base_amostra_familia_201712_20190131.csv", sep=';', low_memory=False)
data2018 = pd.read_csv("~/AdministracaoPublica/CadUnico/BasesPB/base_amostra_familia_201812.csv", sep=';', low_memory=False)

In [25]:
# Listas com os códigos IBGE dos municípios da Paraíba
municipios_paraiba = [
    2500106, 2500205, 2500304, 2500403, 2500502, 2500536, 2500577, 2500601, 2500700, 2500734,
    2500775, 2500809, 2500908, 2501005, 2501104, 2501153, 2501203, 2501302, 2501351, 2501401,
    2501500, 2501534, 2501575, 2501609, 2501708, 2501807, 2501906, 2502003, 2502052, 2502102,
    2502151, 2502201, 2502300, 2502409, 2502508, 2502607, 2502706, 2502805, 2502904, 2503001,
    2503100, 2503209, 2503308, 2503407, 2503506, 2503555, 2503605, 2503704, 2503753, 2503803,
    2503902, 2504009, 2504033, 2504074, 2504108, 2504157, 2504207, 2504306, 2504355, 2504405,
    2504504, 2504603, 2504702, 2504801, 2504850, 2504900, 2505006, 2505105, 2505204, 2505238,
    2505279, 2505303, 2505352, 2505402, 2505501, 2505600, 2505709, 2505808, 2505907, 2506004,
    2506103, 2506202, 2506251, 2506301, 2506400, 2506509, 2506608, 2506707, 2506806, 2506905,
    2507002, 2507101, 2507200, 2507309, 2507408, 2507507, 2507606, 2507705, 2507804, 2507903,
    2508000, 2508109, 2508208, 2508307, 2508406, 2508505, 2508554, 2508604, 2508703, 2508802,
    2508901, 2509008, 2509057, 2509107, 2509156, 2509206, 2509305, 2509339, 2509370, 2509396,
    2509404, 2509503, 2509602, 2509701, 2509800, 2509909, 2510006, 2510105, 2510204, 2510303,
    2510402, 2510501, 2510600, 2510659, 2510709, 2510808, 2510907, 2511004, 2511103, 2511202,
    2511301, 2511400, 2511509, 2511608, 2511707, 2511806, 2511905, 2512002, 2512036, 2512077,
    2512101, 2512200, 2512309, 2512408, 2512507, 2512606, 2512705, 2512721, 2512747, 2512754,
    2512762, 2512788, 2512804, 2512903, 2513000, 2513109, 2513158, 2513208, 2513307, 2513356,
    2513406, 2513505, 2513604, 2513653, 2513703, 2513802, 2513851, 2513901, 2513927, 2513943,
    2513968, 2513984, 2514008, 2514107, 2514206, 2514305, 2514404, 2514453, 2514503, 2514552,
    2514602, 2514651, 2514701, 2514800, 2514909, 2515005, 2515104, 2515203, 2515302, 2515401,
    2515500, 2515609, 2515708, 2515807, 2515906, 2515930, 2515971, 2516003, 2516102, 2516151,
    2516201, 2516300, 2516409, 2516508, 2516607, 2516706, 2516755, 2516805, 2516904, 2517001,
    2517100, 2517209, 2517407
]

## Base PB/2012

In [26]:
cadunico_pb_2012 = data2012[data2012['cd_ibge'].isin(municipios_paraiba)]

cadunico_pb_2012.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
9517,2510709,1,3,2294265,2001-12-18,2011-06-15,181,1.0,1.0,3.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,6,"4,61364148943966",1
9518,2500304,2,3,3964341,2001-12-18,2012-03-20,25,1.0,1.0,6.0,...,2.0,2.0,UBSF II CRUZEIRO,2606909.0,NaN,NaN,NaN,4,"4,61293676637825",1
9519,2500304,2,3,1641872,2001-12-18,2012-05-22,50,1.0,1.0,5.0,...,2.0,2.0,UBSF I DR CLOVIS BARACUY,3579530.0,NaN,NaN,NaN,3,"4,61293676637825",1
9520,2500304,2,3,3964574,2001-12-18,2012-05-03,40,2.0,1.0,5.0,...,2.0,2.0,UBSF V CANAFISTULA,3579484.0,NaN,NaN,NaN,5,"4,61293676637825",1
9521,2513703,2,2,3139242,2001-12-18,2012-08-07,28,2.0,1.0,4.0,...,2.0,2.0,UNIDADE DE PSF CICEROLANDIA,3718719.0,NaN,NaN,NaN,7,"4,61362689750316",1

In [27]:
cadunico_pb_2012.to_csv('cadunico_pb_2012.csv', index=False, sep=';')

## Base PB/2013

In [28]:
cadunico_pb_2013 = data2013[data2013['cd_ibge'].isin(municipios_paraiba)]

cadunico_pb_2013.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
579,2503704,2,3,3863000,2001-11-19,2013-03-26,16,2.0,1.0,5.0,...,2.0,2.0,NaN,NaN,NaN,NaN,205.0,6,"5,41420702161103",1
7654,2502904,1,3,2350746,2001-11-19,2013-04-29,4,1.0,1.0,5.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,6,"5,41497469133967",1
9291,2500304,2,3,4320078,2001-12-18,2012-03-20,25,1.0,1.0,6.0,...,2.0,2.0,UBSF II CRUZEIRO,2606909.0,NaN,NaN,NaN,4,"5,41623810957518",1
9292,2500304,2,3,4320188,2001-12-18,2013-10-14,150,1.0,NaN,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2,"5,41623810957518",0
10492,2500304,2,3,1789379,2001-12-20,2012-02-14,60,2.0,1.0,5.0,...,2.0,2.0,UBSF III CONJ VERA CRUZ,2606925.0,NaN,NaN,205.0,4,"5,41623810957518",1

In [29]:
cadunico_pb_2013.to_csv('cadunico_pb_2013.csv', index=False, sep=';')

## Base PB/2014

In [30]:
cadunico_pb_2014 = data2014[data2014['cd_ibge'].isin(municipios_paraiba)]

cadunico_pb_2014.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
2463,2501708,1,3,1695316,2001-11-23,2014-08-06,155,2.0,1.0,4.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,3,"5,33530679987476",0
8905,2500304,2,3,4451135,2001-12-18,2012-10-03,158,1.0,1.0,7.0,...,2.0,2.0,UBSF XII JOAO BOSCO CARNEIRO,5247853.0,NaN,NaN,205.0,4,"5,3341265968307",1
8906,2500304,2,3,1702107,2001-12-18,2014-04-23,205,2.0,1.0,5.0,...,2.0,2.0,UBSF VIII MARIA CRISTINA MEDEIROS SARMENTO,2606976.0,NaN,NaN,205.0,4,"5,3341265968307",0
8907,2500304,2,3,4451090,2001-12-18,2012-03-20,25,1.0,1.0,6.0,...,2.0,2.0,UBSF II CRUZEIRO,2606909.0,NaN,NaN,0.0,4,"5,3341265968307",1
8908,2500304,2,3,4451141,2001-12-18,2012-06-14,0,1.0,1.0,5.0,...,2.0,2.0,UBSF V CANAFISTULA,3579484.0,NaN,NaN,0.0,2,"5,3341265968307",0

In [31]:
cadunico_pb_2014.to_csv('cadunico_pb_2014.csv', index=False, sep=';')

## Base PB/2015

In [32]:
cadunico_pb_2015 = data2015[data2015['cd_ibge'].isin(municipios_paraiba)]

cadunico_pb_2015.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
4,2505402,1,3,5,2006-02-04,2014-01-31,0,2013-11-29,1.0,1.0,...,2.0,2.0,USF JANIO HELDER DA SILVA,2321424.0,NaN,NaN,0.0,4,"5,1870276185049",1
22,2507507,2,1,23,2010-04-20,2015-08-27,66,2015-08-27,1.0,1.0,...,2.0,2.0,USF INTEGRADA BAIRRO DAS INDUSTRIAS,3014304.0,NaN,NaN,0.0,3,"5,18710729902112",1
36,2516607,1,3,37,2011-08-23,2015-09-23,0,2015-09-23,2.0,1.0,...,2.0,2.0,ESF IV POV SILVESTRE,2604752.0,CRAS CENTRO DE REFERENCIA DA ASSISTENCIA SOCIAL,2.516600e+10,0.0,3,"5,1870276185049",1
172,2506905,2,3,173,2014-05-15,2014-05-15,30,2014-05-15,1.0,2.0,...,2.0,2.0,PSF DE GUARITA,3127079.0,NaN,NaN,0.0,2,"5,18536434810599",1
174,2504009,2,2,175,2003-06-28,2012-01-10,363,2012-01-06,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,3,"5,18712692231878",0

In [33]:
cadunico_pb_2015.to_csv('cadunico_pb_2015.csv', index=False, sep=';')

## Base PB/2016

In [34]:
cadunico_pb_2016 = data2016[data2016['cd_ibge'].isin(municipios_paraiba)]

cadunico_pb_2016.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
53308,2504009,2,2,58309,2012-02-03,2014-02-19,190,2014-02-19,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,4,"5,33757943220439",0
53309,2508604,1,2,58310,2007-08-10,2016-09-20,71,2016-09-20,1.0,2.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,7,"5,33794943220439",1
53310,2504009,2,2,58311,2010-06-28,2016-12-06,70,2015-03-11,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,"5,33757943220439",1
53311,2507200,1,2,58312,2015-03-10,2015-03-10,3,2015-03-10,2.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,205.0,2,"5,33794943220439",1
53312,2504009,2,2,58313,2014-07-01,2014-07-01,600,2014-07-01,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,"5,33757943220439",0

In [35]:
cadunico_pb_2016.to_csv('cadunico_pb_2016.csv', index=False, sep=';')

## Base PB/2017

In [36]:
cadunico_pb_2017 = data2017[data2017['cd_ibge'].isin(municipios_paraiba)]

cadunico_pb_2017.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
8,2512101,2,3,9,2002-03-13,2015-06-16,394,2015-06-16,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2,"5,16850788329594",0
204,2514404,1,3,206,2010-10-06,2015-03-23,0,2015-03-23,1.0,1.0,...,2.0,2.0,UBS DR FRANCISCO WANDERLEY,2321483.0,CENTRO DE REFERENCIA DA ASSISTENCIA SOCIAL,2.514400e+10,0.0,2,"5,16847888980498",1
322,2500304,2,3,324,2012-07-09,2015-06-08,394,2015-06-01,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,2,"5,16701978805785",0
326,2507507,2,1,328,2013-09-10,2015-01-14,724,2015-01-14,1.0,1.0,...,2.0,2.0,UNIDADE DO PSF MANDACARU VII,3006220.0,NaN,NaN,NaN,1,"5,16845453289048",0
365,2503001,2,2,367,2003-03-13,2017-07-19,50,2017-07-18,1.0,1.0,...,2.0,2.0,USF SAO PEDRO,2613107.0,CRAS CENTRO DE REFERENCIA DE ASSISTENCIA SOCIAL,2.503000e+10,0.0,2,"5,17047638723295",1

In [37]:
cadunico_pb_2017.to_csv('cadunico_pb_2017.csv', index=False, sep=';')

## Base PB/2018

In [38]:
cadunico_pb_2018 = data2018[data2018['cd_ibge'].isin(municipios_paraiba)]

cadunico_pb_2018.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,marc_pbf,qtde_pessoas,peso.fam
56468,2513703,2,2,68260.0,2009-04-04,2018-11-20,477.0,2018-11-20,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,0,2,550292618438458
56469,2512408,1,2,68261.0,2002-03-18,2018-09-30,23.0,2018-04-27,2.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,3,550256266088136
56470,2512507,2,2,68262.0,2018-07-26,2018-10-02,38.0,2018-07-26,1.0,1.0,...,2.0,2.0,UBSF LIGEIRO I,2612992.0,NaN,NaN,0.0,1,6,550245146328323
56471,2515807,1,2,68263.0,2002-02-20,2018-09-30,0.0,2017-05-18,2.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,1,550256266088136
56472,2501807,2,2,68264.0,2006-10-21,2018-09-30,33.0,2017-11-30,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,3,550245146328323

In [39]:
cadunico_pb_2018.to_csv('cadunico_pb_2018.csv', index=False, sep=';')